.env
.bin
internal/database/files
*.pem
*.key
*.json
*.bak
cloudflared/
node_modules/

# Databases
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal
/data/mp3s/

# Python
__pycache__/
*.pyc

# Session files
sessions/
instance/

# Logs
*.log
*.pid

# Binaries
admin

