.env
.bin
internal/database/files
*.pem
*.key
*.json
*.bak
cloudflared/
node_modules/

# Databases
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal
/data/mp3s/

# Python
__pycache__/
*.pyc

# Tests are not required to run the application.
*_test.go
*_test.py
test_*.py
*.test.*
*.spec.*
/tests/

# Session files
sessions/
instance/

# Logs
*.log
*.pid

# Binaries
admin
