{{define "head"}}
<link rel="stylesheet" href="/web/static/css/wiki_jaylub.css">
<script src="/web/static/js/wiki_jaylub.js" defer></script>
{{end}}

{{define "content"}}

<div class="container wiki">

    <header class="wiki-hero">
        <h1 class="logo">Jaylub</h1>
        <p class="subtitle">Smradlavý kluk • Miluje fotbal</p>
    </header>

    <nav class="topbar">
        <a href="#overview">Introduction</a>
        <a href="#earlylife">Averadge Day</a>
        <a href="#hobbies">Family</a>
        <a href="#routine">Experiences</a>
        <a href="#family">Sleepovers</a>
        <a href="#experiences">Conclusion</a>
    </nav>

    <section id="overview" class="wiki-box">
        <h2>Introduction</h2>
        <p>
            
            Jaylub (Jakub Karel Jaros), who was born on September 10, 2009 in the small town of Rakovník, lives in the small village of Kolešovice.
            <br>
            He is known for his smell and greasy hair, which he got at the age of 10 because he does not shower and does not use deodorant. His hobbies include, for example, playing football for the team Chrášťany, where a well-known person Miloš Jelínek also played, also known as "krivonozka", or playing the old version of the game Minecraft, version 1.8.9. He graduated from the primary school in Kolešovice, where his legendary nickname "Jaylub" also originated. He got the nickname because of his smell and because instead of normal food he eats his pigeons from his nose.
            <br>        
            In his small circle of friends, there is also the well-known Jagr (Jan Bauler), who also makes fun of his smell behind his back, and he is also the only "normal" person who talks to him. He is currently studying at a secondary school in Podbořany, and as his old friend, I hope they also call him Jaylub at high school.
        </p>
    </section>

    <section id="earlylife" class="wiki-box">
        <h2>Averadge Day</h2>
        <p>
            He wakes up at approximately 8:00 and goes outside, yes without any hygiene. He always keeps the clothes he wore from the evening on and leaves in them in the morning. The clothes can be 3–5 months old.
            <br>
            At around 12:00, his mother calls him saying that breakfast is ready, so Jaylub goes home to eat breakfast and then goes outside again. As already mentioned, outside he mainly plays football and rides a bike. Sometimes he also walks his dog, but that is usually later in the evening.
            <br>
            At around 16:00, Jaylub’s mother calls again saying that lunch is ready, so Jaylub goes home to eat. When he goes out after lunch, it is already quite late or even dark, and nobody wants to go outside with him anymore. Therefore, Jaylub stays in his garden and plays with a ball. When it gets late (somewhere between 19:00–20:00), he goes home and plays on the computer the mentioned version of Minecraft 1.8.9, which he considers the only good version of Minecraft. Occasionally (more in the past, not anymore), he used to go on Discord servers to talk while playing with his former friends.
            <br>
            At 22:00, his mother calls him for dinner, so Jaylub goes to eat again. After dinner, he goes to sleep again without any hygiene, and as already mentioned, he still wears the same clothes.
        </p>
    </section>

    <section id="hobbies" class="wiki-box">
        <h2>Family</h2>
        <p>
            His family consists of his mother, father, Jaylub, and two sisters, one of whom is "somewhat" normal.
            <br>
            His father is the only normal person in the family and possibly showers occasionally. He graduated from university and currently works as a prison guard. His mother is not as normal as the father; she does not shower very often, but she has basic cooking skills, although she has lost track of time. Her failures include, for example, sleeping during parent-teacher meetings or poor hygiene.
            <br>
            His first sister, who is 4 years older than his second sister, is quite normal like their father. She is not really present in Jaylub’s home (which is understandable), and she maintains basic hygiene. She worked at CinemaCity in Zličín, and not much information is known about her.
            <br>
            His second sister is, like the mother, not very normal. She also does not maintain basic hygiene, just like the mother and Jaylub himself. She is quite introverted, as she does not talk to many people, mostly only to Jaylub. It is known about her that she used to play hide and seek in the school changing rooms at the primary school where Jaylub studied, and every time she found someone, she made strange sounds like someone dying. She made these sounds every time someone tried to talk to her.
            <br>
            Another of her actions includes that during a one-hour physical education class she suddenly ran straight into a wall. Some people think she was trying to find the way to Narnia, but this cannot be confirmed since nobody really talks to her.
            <br>
            Overall, his family is not completely normal and does not maintain basic hygiene. If you have any information about his family, please write to the email support@jaylub.com
            . Thank you in advance.
        </p>
    </section>

    <section id="routine" class="wiki-box">
        <h2>Experiences</h2>
        <p>
            For most people, the only experience with Jaylub is that he smells, but some people have more experiences with him, such as sleepovers, visits, or playing football. Here are the experiences of anonymous people.
            <br>
            Visits
            <br>
            When you go to Jaylub’s house, you first have to pass through gates that are still locked with a large stone in front of them. When you pass through these gates, you will see his "small" yard, where it already smells quite strongly. In his yard there are, for example, free-roaming chickens, a dog locked in a small cage, a small barn, and a workshop in which there are many “treasures.” The chickens and the dog freely defecate in the yard, and nobody cleans it up, which is probably why the yard smells so much.
            <br>
            When you enter his house, you will see 3 main corridors. On the left there is a bathroom, which is unused. Its visual condition is terrible—for example, you can see bricks in the walls, there is no light or windows. In anonymous descriptions, nobody mentioned any visible shower, which may be why Jaylub smells so much.
            <br>
            The right corridor consists of a living room, where there is a small TV with an old Xbox 360 console, a dining table, a small sofa, and an aquarium that probably contains small fish. However, the living room is not very nice and has its flaws, such as the floor, which has probably never been vacuumed or cleaned. Some visitors regret not bringing slippers.
            <br>
            In the living room there is also one of the kitchens, which is fairly well equipped. It contains, for example, a microwave, a stove with an extractor hood and an oven. However, like the living room, the kitchen has probably never been vacuumed or cleaned. There is also a fridge that serves as the entrance to the kitchen, because opening it completely blocks access to the room.
            <br>
            If you go straight up the stairs in Jaylub’s house, you get to a relatively normal part of the house. The second floor contains all the rooms: two toilets (one probably non-functional and without doors), a second kitchen, and a balcony. The toilet is normal and clean.
            <br>
            Next to the toilet is Jaylub’s room. In Jaylub’s room there is a big mess. He puts everything he doesn’t know where to put under the bed. It is almost impossible to walk normally in the room, as you constantly have to avoid things. The room also contains boxes for clutter and his gaming setup.
            <br>
            His gaming setup, on which he only plays the mentioned version of Minecraft, consists of an old laptop, a TV, and a cheap mouse and keyboard from the brand Rapture. There is also a lot of mess on the desk. On the bed there is only a mattress with a pillow, and sometimes a blanket appears.
            <br>
            In the hallway of the second floor are the rooms of both sisters, but nobody knows what they look like, so these rooms cannot be described. The hallway does contain some mess, but the floor is relatively clean.
            <br>
            In the parents’ room, however, one of the visitors has been. The room is small and very messy, but it contains two beds and a light. The room does not contain much except for clutter and beds, and the mess is everywhere on the floor.
            <br>
            If we go back to the hallway and continue further, we arrive at his second kitchen. The second kitchen is slightly better equipped than the first one. It contains, like the first kitchen, a stove with an extractor hood, an oven, a microwave, a sink, a dining table, and also a “modern” TV. There is not much to describe about the second kitchen, as it is quite empty and normal.
            <br>
            If we continue further, we reach the balcony, where there is a grill and a view of the neighbor’s property.
            <br>
            Overall, his house is quite dirty. It has probably never been cleaned or vacuumed, and it would deserve a proper cleaning.
        </p>
    </section>

    <section id="family" class="wiki-box">
        <h2>Sleepovers</h2>
        <p>

            If you are brave enough and decide to sleep over at Jaylub’s place, as already mentioned dinner is at 22:00, and sleeping in his room is apparently quite difficult. One of the people describing it also mentions that he forgot a bottle at Jaylub’s place, and when he returned two weeks later, the bottle was still lying in Jaylub’s hallway, almost rotten, in the exact same place where he had left it.
            <br>
            Sleeping over at Jaylub’s works in a way that you are given an inflatable mattress, a blanket, and a pillow, and you sleep on that. You inflate the mattress in Jaylub’s room. After it is inflated, it is basically impossible to move around in the room.
            <br>
            If you have more experiences with Jaylub, please write to the email support@jaylub.com
            . Thank you in advance.
        </p>
    </section>

    <section id="experiences" class="wiki-box">
        <h2>Conclusion</h2>
        <p>
            As already mentioned, Jaylub smells very strongly and does not maintain basic hygiene. One of the anonymous people describes that they personally saw Jaylub enjoying his “nose pigeons.”
            <br>

            In football, he is quite good and often discourages opposing players just because of his smell. Jaylub is also very calm, but if you make him angry, he has a strong temper, and it is possible that he may physically attack you.
            <br>

            Since childhood, Jaylub has been sucking the thumb of his right hand. He has probably not been able to get rid of this habit, as he has been doing it since his early years.
        </p>
    </section>


</div>

{{end}}